@import "style.css";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Nunito:ital,wght@0,700;0,800;0,900;1,700&family=Raleway:wght@900&display=swap');


/* sect1 */
.sect1{
    display: flex;

}
.img1{
    background-image: url(images/page2/P2-sect-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    height: 100%;
    width: 100%;


}
.box1{
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;


    margin-top: 40vh;
    left: 0;
    right: 0;
    height: 125px;
    width: 70%;
    border: 12px solid white;
}

.inner_box1{
    height: 85%;
    width: 98.5%;
   
    display: table;
    margin: 0.75% 0.75% 0.75% 0.75%;
    
    background-color: rgba(255, 255, 255, 0.898);
}

.box1 p{
    display: table-cell;
    vertical-align: middle;
    color: #FF914D;
    font-size: 2.5em;
    font-family: 'Faustina', serif;
}
.sect1 .icon{
    position: absolute;
    margin-left: 6vw;
    margin-top: 3vh;
    transform: scale(0.30, 0.30) rotate(60deg);

}

/* sect2 */
.sect2{
    display: flex;
}

.sect2 .box_container{
    position: absolute;
    margin-left: auto;
    margin-right: auto;


    margin-top: 15vh;
    left: 0;
    right: 0;

    width: 95%;
    height: 70%;

    border: 2px solid blue;
}
.sect2 h1{
    color: white;
}
.sect2 .box1{
    margin-top: 0 !important;
    margin-left: 0 !important;
    width: 60%;
    height: 100%;

    background-color: #333333;
    border: 2px solid orange;
}
.img2{
    background-image: url(images/page2/P2-sect-2-Tokyo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 50%;
    width: 100%;
}


.sect2 .box2{
    float: right;
    width: 37%;
    height: 100%;

    color: white;
    border: 2px solid orange;
}

