@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

html{
    height: 100%;
    width: 100%;
    background-color: white;
    background-image: url(images/360_F_438949286_dHOVcfj962TvtlAtNu3h9hfaRTpl6eUZ.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    margin: 0;
    padding: 0;
    

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", sans-serif;
}

/* icon */
.logo1{
    background-image: url(images/logo_white2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo2{
    background-image: url(images/500x500.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* body */
body{
    /*overflow-y: hidden;*/

    width: 100%;
    height: 100%;
    
}
.container{
    width: 100%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
header{
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    background-color: #24252acb;

    padding: 5px 0px 5px;
    margin: 0;
    
}

header .logo1{
    height: 50px;
    width: 100px;
    cursor: pointer;

    margin-left: 47%;
    position: absolute;

}

nav{
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;

}
/* nav left buttons */
.nav_items li{
    display: inline-block;
    padding: 0px 7px;
    border-right: 1px solid white;
}

.nav_items li:last-child{
    border-right: none;
}

.nav_items li a{
    transition: all 0.3s ease 0s;

    padding: 5px 7px 5px 7px;
    text-decoration: none;
    color: white;

}
.nav_items li a:hover{
    background-color: white;
    color: black;
}

/* menu icon */
.nav_icon{
    right: 1%;
    top: 25%;

    position: absolute;
    cursor: pointer;
    
}
.bar1, .bar2, .bar3{
    width: 30px;
    height: 5px;
    border-radius: 12%;
    background-color: white;
    margin: 3px 0;
}

/*menu overlay*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;

    transition: 0.5s;
}
  
.overlay_content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;

    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 45px;
    font-size: 60px;
}
  
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}

/* section */
.content section{
    display: inline-block;
    width: 100%;
    height: 100vh;
    
}

/* section 1 */
.sect1{
    display: flex;
}
.mySlides {
    display: none;
    
    
  }

/* bg animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

  @-webkit-keyframes fade {
    from {opacity: 0.6}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: 0.6}
    to {opacity: 1}
} 

  /* .fade {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  } */

/* change bg */
.slides img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -5;
} 

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    /* background-color: rgba(255, 255, 255, 0.816); */
    border: 1px solid rgba(255, 255, 255, 0.83);
    border-radius: 50%;
    display: inline-block;

    margin-top: 50%;
    padding-left: 10px;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #ffffffbb;
}
  


.sect1 .logo2{
    height: 160px;
    width: 480px;
    margin: 20% 0% 0% 32.5%;
    position: absolute;

    transition: 0.2s;
}

.fa-angle-double-left{
    color: white;
    opacity: 30%;
    margin-top: 22%;
    margin-left: 2%;
    position: absolute;

    transition: 0.2s;
}
.fa-angle-double-left:hover{
    font-size: 55px;
    opacity: 100%;
}
.fa-angle-double-right{
    color: white;
    opacity: 30%;
    margin-top: 22%;
    right: 2%;
    height: 50px;
    position: absolute;

    transition: 0.2s;
}
.fa-angle-double-right:hover{
    font-size: 55px;
    opacity: 100%;
}

