@import "style.css";

h1{
    color: white;
    font-size: 3vw;
}
p{
    color: white;
}
section{
    display: flex;
}


.img_container{
    background-color: white; 
    height: 50%; 
    width: 100%;
}
/* sect1 */

.sect1 .bg{
    background-image: url(images/page2/P2-sect-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    height: 100%;
    width: 100%;
}
.sect1 .box1{
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;


    margin-top: 35vh;
    left: 0;
    right: 0;
    width: 75%;
    height: 160px;

    /* border: 5px solid blue; */
}
.sect1 .inner_box1{
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    bottom: 0;
    left: 0;
    right: 0; 
    height: 125px;
    width: 95%;
    /* width: 70%; */
    border: 12px solid white;
}

.sect1 .inner_box2{
    height: 85%;
    width: 98.5%;
   
    display: table;
    margin: 0.75% 0.75% 0.75% 0.75%;
    
    background-color: rgba(255, 255, 255, 0.898);
}

.sect1 .inner_box2 p{
    display: table-cell;
    vertical-align: middle;
    color: #FF914D;
    font-size: 2.5vw;
    font-family: 'Faustina', serif;
}
.sect1 .icon{
    height: 100px;
    width: 85px;
    /* transform: scale(0.30, 0.30) rotate(60deg); */
}
.sect1 .box_icon{
    position: absolute;
    left: 0;
    top: 0;
}



/* sect2 */
.sect2 .box_container{

    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

    margin-top: 15vh;
    left: 0;
    right: 0;

    width: 95%;
    height: 70%;
/* 
    border: 2px solid blue; */
}
.sect2 h1{
    padding-bottom: 0 
}
.sect2 h2{
    padding-top: 10px;
}
.sect2 p{
    font-size: 1.5vw;
    padding-top: 10px;
}

.sect2 .box1{

    width: 60%;
    height: 100%;

    background-color: #333333;
    /* border: 2px solid orange; */
}
.sect2 .box1 .content{
    margin-left: 4vh;
    margin-top: 2vh;
}

.sect2 .img1{
    background-image: url(images/page2/P2-sect-2-Tokyo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;
}

.sect2 .box2{
    width: 37%;
    height: 100%;

    background-color: #333333;
    /* border: 2px solid orange; */
    
}

.sect2 .box2 .content{
    margin-left: 4vh;
    margin-top: 2vh;
}
.sect2 .img2{
    background-image: url(images/page2/P2-sect-2-Kyoto.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;
}
.sect2 .img1:hover, 
.img2:hover{
    opacity: 80%;
}


/* sect3 */

.sect3 p{
    font-size: 1.5vw;
}

.sect3 .icon{
    position: absolute;
    margin-top: 6vh;
    margin-left: 2vh;
    width: 100px;
    height: 100px;
    z-index: 1;
    
}
.sect3 .box_container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

    margin-top: 10vh;
    left: 0;
    right: 0;

    width: 95%;
    height: 80%;
/* 
    border: 2px solid blue; */
}

.sect3 .content{
    margin-left: 4vh;
    margin-top: 2vh;
    width: 90%;
}
.sect3 .box1{
    /* border: 2px solid orange; */
    width: 32%;
    background-color: #333333;
}
.sect3 .img3{
    background-image: url(images/page2/P2-sect-3-Osaka.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;

}

.sect3 .box2{
    /* border: 2px solid orange; */
    width: 32%;
    background-color: #333333;
}
.sect3 .img4{
    background-image: url(images/page2/P2-sect-3-Hokkaido.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;

}
.sect3 .box3{
    /* border: 2px solid orange; */
    width: 32%;
    background-color: #333333;
}
.sect3 .img5{
    background-image: url(images/page2/P2-sect-3-Hakone.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;
}

.sect3 .img3:hover, 
.img4:hover, 
.img5:hover{
    opacity: 80%;
}


/* sect4 */

.sect4 .bg{
    background-image: url(images/page2/P2-sect-4.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.sect4 .content_container{
    width: 35%;
    height: 100vh;
    background-color: #342d34c6;
    float: right;
}
.sect4 .content{
    margin-top: 20vh;
    margin-left: 4vh;
    width: 90%;
}
.sect4 h3{
    color: white;
    font-size: 1.8vw;
    margin-top: 20px;
}

.sect4 p{
    margin-top: 25px;
    font-size: 1.5vw;
    text-align: justify;
}



/* sect5 */

.sect5 .content_top h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    left: 0;
    right: 0;

    color: orange;
}
.sect5 .content_mid{
    background-color: #333333;

    margin-left: auto;
    margin-right: auto;
    margin-top: 0.25vh;
    left: 0;
    right: 0;

    width: 90%;
    height: 80%;

    /* border: 2px solid blue; */
}
.sect6 .content_mid{
    background-color: #333333;

    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    left: 0;
    right: 0;

    width: 90%;
    height: 80%;

    /* border: 2px solid blue; */
}
.sect5 .img_container, 
.sect6 .img_container{
    height: 65%;
    width: 100%;
}
.sect5 .img6{
    background-image: url(images/page2/P2-sect-5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;
}
.sect6 .img7{
    background-image: url(images/page2/P2-sect-6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;
}
.sect5 .img6:hover, 
.sect6 .img7:hover{
    opacity: 80%;
}
.sect5 .content{
    margin-top: 3vh;
    margin-left: 4vh;
    width: 90%;
}
.sect6 .content{
    margin-top: 6vh;
    margin-left: 4vh;
    width: 90%;
}
.sect5 .content h1,
.sect6 .content h1{
    color: white;
    line-height: 1.1;
    padding-bottom: 2px;
}
.sect5 .content h2, 
.sect6 .content h2{
    padding-top: 10px;
}




